.App {
  padding: 20px 40px;
  border: 1px solid #888888;
  -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
  box-shadow: 10px 10px 5px #888888;
  min-height: 100%;
  width: 70%;
  min-width: 1200px;
  position: absolute;
}

.app-content {
  min-height: 100%;
  text-align: left;
  font-size: 18px;
}
.app-docs {
  margin-left: 18px
}
.app-content .stu-info {
  padding: 20px 40px;
  min-width: 1080px;
  display: inline-block;
}
.stu-info-left {
  display: inline-block;
  width: 400px;
  line-height: 40px;
}
.stu-info-right {
  display: inline-block;
  margin-left: 80px;
  line-height: 40px;
}
.pic-upload{
  position: relative;
  padding-left: 40px;
  width: 1080px;
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
