.cour-select-page{
    height: 100%;
}
.cour-select-page .cour-select-header{
    height: 60px;
    line-height: 60px;
    /* text-align: left; */
    background-color: #EFEFEF;
}
.cour-select-page .cour-select-content{
    padding-top: 50px;
    margin: 0 auto;
    width: 500px;
    font-size: 16px;
}
.cour-select-content .cour-list-count{
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
}
.cour-select-content .cour-select-moudle{
    background-color: #FFF;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.cour-select-moudle .cour-list-item{
    cursor: pointer;
    font-size: 16px;
}