.login-page{
    height: 100%;
}
.login-page .login-header{
    height: 60px;
    line-height: 60px;
    /* text-align: left; */
    background-color: #EFEFEF;
}
.login-page .login-content{
    /* padding-top: 200px; */
    margin: 0 auto;
    width: 300px;
}
.login-content .login-moudle{
    padding-top: 40px; 
    background-color: #FFF;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}